<main>

  <div class="row">
    <div class="class-col-md-4"></div>
    <div class="class-col-md-4">

      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{product.imageUrl}}" class="img-fluid rounded-start" alt="{{product.title}}" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{product.title}} - ${{product.price}} </h5>
              <p class="card-text">{{product.description}}</p>  

                <button class="btn btn-primary">Add cart</button>           
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="class-col-md-4"></div>
  </div>
</main>